body{
    background: #FB6B6B;
}

/*Home Page*/

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.home img{
    width: 110px;
    height: 130px;
    margin-bottom: 15px;
}

.home h1{
    color: #FFFFFF;
    font-size: 45px;
    font-family: 'Righteous', sans-serif;
}

.home button{
    width: 250px;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    border: 1px solid #D70900;
    background: #FFFFFF;
    margin-top: 130px;
}

.home button p{
    font-size: 25px;
    text-align: center;
    color: #D70900;
    font-family: 'Recursive', sans-serif;
}

/*Cards page*/
.top-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    position: fixed;
    background: #FB6B6B;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.top-cards img{
    width: 52px;
    height: 60px;
}

.top-cards h1{
    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    margin-left: 5px;
}

.content-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 80px;
    z-index: 0;
}

/*Carta fechada*/

.closed-card{
    width: 300px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed-card h1{
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}

.closed-card button{
    border: none;
    background: none;
}

.closed-card button ion-icon{
    font-size: 29px;
}

/*Carta aberta*/

.open-card{
    width: 300px;
    height: 140px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 25px;
    position: relative;
}

.open-card h1{
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    color: #333333;
}

/*Parte de trás*/

.back button{
    background: none;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.back button img{
    width: 25.5px;
    height: 17px;
}

/*Parte da frente*/
.buttons{
    display: flex;
    align-items: center;
    flex-direction: center;
    position: absolute;
    bottom: 10px;
}

.buttons button{
    width: 85px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin: 0 3px;
}

.buttons button p{
    font-family: 'Recursive';
    font-size: 12px;
    color: #FFFFFF;
}

.buttons .nao-lembrei{
    background: #ff3030;
}

.buttons .quase-nao-lembrei{
    background: #FF922E;
}

.buttons .zap{
    background: #2FBE34;
}

/*Cartas respondidas*/
.red h1{
    color: #FF3030;
    text-decoration: line-through;
}

.yellow h1{
    color: #FF922E;
    text-decoration: line-through;    
}

.green h1{
    color: #2FBE34;
    text-decoration: line-through;  
}
/*Footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

footer p{
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
}

.complete{
    height: 170px;
}

.complete img{
    margin-right: 7px;
    width: 23px;
    height: 23px;
}

.complete h1{
    font-family: 'Recursive', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin: 15px 0;
}

.complete p{
    margin-bottom: 15px;
    width: 200px;
    text-align: center;
}

.tela-final{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Icones footer*/
footer ion-icon{
    font-size: 25px;
}

footer .icones{
    display: flex;
}

footer .wrong{
    color: #FF3030;
}

footer .right{
    color: #2FBE34;
}

footer .almost{
    color: #FF922E;
}
/*Utilitário*/

.hidden{
    display: none;
}